<h1>All categories</h1>
    <hr/>

<div class="container">
    <%if !@groups.nil?%>
        <div class="row">
            <%@groups.each do |i|%>
                <div class="col-5">
                    <%=link_to group_path(i.id) do%>
                    <%= image_tag(i.icon, size: '75x75')%>
                    <%=i.name%>
                </div>
            <hr/>
                <%end%>
            <%end%>
        </div>
    <%end%>
</div>

<%=link_to "create new", new_group_path, :class=> "btn",:id=>"button-login"%>