<h1>users group index</h1>
<%if !@groups.nil?%> 
    <hr/>
    <%@groups.each do |i|%>
        <%=link_to group_transactions_path(i.id) do%>
        <%# where(group_id:group.id) %>
            <%= image_tag(i.icon, size: '75x75')%>
            <%=i.name%>
        <%end%>
    <%end%>
    <hr/>
<%end%>

<%=link_to "create new", new_group_path, :class=> "btn",:id=>"button-login"%>