<div class="main-splash-wrap">
    <div class="landing-logo">
        <h1 class= "">Welcome to Transactions App</h1>
    </div>
    <div class="buttons-wrapper">
        <%= link_to('Log in', user_session_path, :class=>"btn", :id=>"button-login") %>
        <%= link_to('Sign up', new_user_registration_path, :class=>"btn ",:id=>"button-sign-up") %>
    </div>
</div>