// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$bl: #3778c2;
$dark-bl: #0a376b;
$gr: #5fb523;
$gra: #434b54;

.fa-bars {
    color:white;
}

.nav-link {
    color: white;
}

.hidden{
    display: none;
}

.text_input {
    border: none;
    &:focus{
        outline: none;
    }
}

.field {
    border: 1px 0px solid $gra;
}

.new_user {
    margin: 0 10%;
}

a{
    margin: 0 10%;
}

#button-login {
    width: 80%;
    background-color:$bl !important;
    color: white !important;
    margin-bottom: 5px;
    &:hover{
        background-color: $dark-bl !important;
        color: white !important;
    }
}

